* {
    margin: 0;
    padding: 0;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-styling {
    font-family: Prompt;
    font-size: 100px;
    border-color: blue;
    border-radius: 200px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-width: 5px;
    cursor: pointer;
    transition: transform 0.3s, border 0.4s, background 0.4s;
}

.btn-styling:hover {
    transform: translateY(-20px);
    border: none;
    background: black;
    color: white;
}